/* colours */ /* (welsh red: #D50130, welsh green: #03A943) */
.down-btn {
    color: #D50130; /*Welsh Red*/
}

.stop, .exclamation {
    color: #D50130;
}

.card-button {
    background-color: #D50130;
    color: #fff;
}

/* full page behaviors */
html {
    scroll-behavior: smooth;
}

/* Back to top button */
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 100000; 
    border: none; 
    outline: none; 
    background-color:#D50130;
    color: #fff; 
    cursor: pointer; 
    border-radius: 25%; 
    font-size: 1rem;
    height: 27px;
    width: 27px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
  
  

/* header */
.hero-img {
    height: 100vh;
    background: url('../images/9413ECBE-2CFF-4DDC-9CA4-832EE8105361_1_105_c.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .05);
    margin-bottom: 0;
    padding-bottom: 30px;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    font-size: 1rem;
}

.welshDragon {
    height: 10rem;
    width: auto;
}

.down-btn {
    padding: 20px;
    margin: auto;
    border-radius: 50%;
    font-size: 2rem;
}

.vertically-cent{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Welcome Paragraph */
.welcomeTitle {
    margin: 5% 0;
    padding: 0 5%;
    text-align: center;
}

.welcomeTitle h2, .bookings h2 {
    display: inline;
}

.welcomeTitle p {
    font-size: 1.2rem;
    font-weight: 200;
}

/* Bookings */
.bookings {
    text-align: center;
    padding-top: 13%;
    height: 90vh;
    background: url("../images/9346BDE5-92A4-40EC-A3A3-D240E67B24AE_1_105_c.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.input-group {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 10%;
}

.search-btn {
    background-color: #D50130;
    border: #D50130;
}

/* Main Attractions */

.card {
    margin: 2% 0;
}

.cards-section {
   padding: 4.5%;
}

.wales-card {
    padding: 5% 0;
    text-align: center;
}

.castle-txt, .food-txt, .family-txt, .mountains-txt {
    display: none;
    list-style: circle;
}

.card-button, .maps-castle-btn, .maps-mountain-btn, .maps-slate-btn, .maps-activities-btn, .maps-zoos-btn {
    border: none;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}

/* Map section */

.maps-castle-btn, .maps-mountain-btn, .maps-slate-btn, .maps-activities-btn, .maps-zoos-btn {
    border: none;
    margin-bottom: 1%;
    background-color: #D50130;
    color: #fff;
}

#mapid {
    height: 90vh;
}

.maps-section {
    margin-bottom: 5%;
    text-align: center;
}

/* Hover states */
.down-btn:hover {
    text-emphasis: none;
    color: #D50130;
}

.search-btn:hover {
    background-color: #7e001b;
}