/* colours */ /* (welsh red: #D50130, welsh green: #03A943) */
.down-btn {
    color: #D50130; /*Welsh Red*/
}

/* header */
.hero-img {
    height: 100vh;
    background: url('../images/9346BDE5-92A4-40EC-A3A3-D240E67B24AE_1_105_c.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .05);
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    font-size: 1rem;
}

.welshDragon {
    height: 10rem;
    width: auto;
}

.down-btn {
    padding: 20px;
    margin: auto;
    border-radius: 50%;
    font-size: 2rem;
}

.vertically-cent{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Map section */
#mapid { 
    height: 90vh; 
    margin: 13% 5%;
}

/* Main Attractions */
.main-attractions {
    background-color: #3F6F51;
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
}

.main-attractions ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

.main-attractions li {
    display: inline;
}

/* Bookings */
.bookings {
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
}

/* Hover states */
.down-btn:hover {
    text-emphasis: none;
    color: #D50130;
}
