/* colours */ /* (welsh red: #D50130, welsh green: #03A943) */
.down-btn {
    color: #D50130; /*Welsh Red*/
}

/* full page behaviors */
html {
    scroll-behavior: smooth;
}

/* header */
.hero-img {
    height: 100vh;
    background: url('../images/9413ECBE-2CFF-4DDC-9CA4-832EE8105361_1_105_c.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .05);
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    font-size: 1rem;
}

.welshDragon {
    height: 10rem;
    width: auto;
}

.down-btn {
    padding: 20px;
    margin: auto;
    border-radius: 50%;
    font-size: 2rem;
}

.vertically-cent{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Navbar */

    nav {
        text-align: center;
    }
    /* Style the navbar */
    #navbar {
        overflow: hidden;
        background-color: #333;
        z-index: 1;
        width: 100%;
    }

    /* Navbar links */
    #navbar a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    /* Page content */
    .content {
        padding: 16px;
    }
    
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }

    /* Map section */
    #mapid { 
        height: 90vh;
        z-index: -5;
    }

/* Main Attractions */

.main-attractions-heading {
    text-align: center;
    padding: 8% 0;
}

.card {
    border: none;
}

.cards-section {
    padding-left: 4.5%;
    padding-right: 4.5%;
}


/* Bookings */
.bookings {
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
}

/* Hover states */
.down-btn:hover {
    text-emphasis: none;
    color: #D50130;
}
